registry=https://registry.npmmirror.com
network-concurrency=4
fetch-retries=5
fetch-retry-mintimeout=15000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3
